<% provide(:title,"Home")%>
<div class="center jumbotron">
    <h1>HouseWork App</h1>
    <h2>
        HouseHork Appへようこそ
        <br>家事分担をストレスフリーにするためのアプリです。
    </h2>
    <%= link_to "Create room!", createroom_path, class: "btn btn-lg btn-primary" %>
</div>