<% if object.errors.any? %>
    <div id="error_explanation" class="js-message-errors js-errors-worktype">
        <div class="alert alert-danger">
            <%= object.errors.count %>つのエラーがあります。
        </div>
        <ul>
        <% object.errors.messages.values.each do |val| %>
            <li><%= val.join() %></li>
        <% end %>
        </ul>
    </div>
<% end %>