<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= image_tag 'logo.jpeg', id: "logo-img" %>
        <%= link_to "IEGOTO", root_path, id: "logo" %>
    </div>
</header>